%desc-10
{
  font-family: $font-sf;
  font-size: 1.0rem;
}
%desc-12
{
  font-family: $font-sf;
  font-size: 1.2rem;
}
%desc-14
{
  font-family: $font-sf;
  font-size: 1.4rem;
}
%desc-16
{
  font-family: $font-sf;
  font-size: 1.6rem;
}
%desc-18
{
  font-family: $font-sf;
  font-size: 1.8rem;
}
%desc-20
{
  font-family: $font-sf;
  font-size: 2.0rem;
}
%desc-22
{
  font-family: $font-sf;
  font-size: 2.2rem;
}
%desc-24
{
  font-family: $font-sf;
  font-size: 2.4rem;
}
%desc-26
{
  font-family: $font-sf;
  font-size: 2.6rem;
}
%desc-28
{
  font-family: $font-sf;
  font-size: 2.8rem;
}
%desc-30
{
  font-family: $font-sf;
  font-size: 3.0rem;
}
%desc-40
{
  font-family: $font-sf;
  font-size: 4.0rem;
}
%desc-50
{
  font-family: $font-sf;
  font-size: 5.0rem;
}
%desc-60
{
  font-family: $font-sf;
  font-size: 6.0rem;
}
%desc-70
{
  font-family: $font-sf;
  font-size: 7.0rem;
}
%desc-80
{
  font-family: $font-sf;
  font-size: 8.0rem;
}
%desc-90
{
  font-family: $font-sf;
  font-size: 9.0rem;
}
%desc-100
{
  font-family: $font-sf;
  font-size: 10.0rem;
}
