extends ../base.pug

block variables
  - var template = 'info'

block content
  section.info
    .info__title
      h1.info__title__text=info.title

    .info__subtitle
      h2.info__subtitle__text!=info.subtitle.replace(/\n/g, '<br>')

    .info__desc
      p.info__desc__text!=info.desc.replace(/\n/g, '<br>')